@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-primary: #00a650; /* Green from the image */
  --color-brand-dark: #1a1a1a;
  --color-brand-bg: #f5f5f5;
  --color-brand-accent: #00a650;
}

@layer base {
  body {
    @apply bg-white text-brand-dark font-sans;
  }
}
